
@media only screen and (max-width: 950px)
{
    .whiteText
    {
        font-size: 12px !important;
    }
    .rightContent
    {
        font-size: 36px !important;
    }
    .outer
    {
        min-height: 290px !important;
        margin: 8% auto 8% auto !important;
    }
    .outer:hover>.left
    {
        transform: translate(0%,0) !important;
    }
    .outer:hover>.right
    {
        transform: translate(0%,0) !important;
    }
    .leftContent
    {
        flex-direction: column !important;
        width: 200% !important;
        /* transform: translate(50%,0) !important; */
    }
    .orangeText
    {
        line-height: 100% !important;
        margin-bottom: -3% !important;
    }
    .rightContent
    {
        /* border: solid 1px white; */
        width: 200% !important;
    }
}
.outer
{
    color: white;
    /* border: solid 1px red; */
    max-width: 80%;
    margin: 4% auto 4% auto;
    min-height: 220px;
    display: flex;
}
.left
{
    transition: all 0.2s;
    position: relative;
    z-index: 2;
    border-left: 2px solid white;
    border-top: 2px solid white;
    padding-left: 2%;
    padding-right: 2%;
    /* border: solid 1px red; */
    width: 50%;
    min-height: 100%;
}
.right
{
    transition: all 0.2s;
    position: relative;
    z-index: 1;
    /* padding-right: 5%; */
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    /* border: solid 1px red; */
    width: 50%;
    min-height: 100%;
    display: flex;
    align-items: center;
}
.outer:hover>.right
{
    transition: all 0.2s;
    transform: translate(-50%,0);
    border-color: #fa6900;
}
.outer:hover>.left
{
    transition: all 0.2s;
    transform: translate(50%,0);
    border-color: #fa6900;
}
.outer:hover>.left>.leftContent
{
    transition: all 0.8s ease-in-out;
    display: flex !important;
}
.outer:hover>.right>.rightContent
{
    transition: all 0.2s ease-in-out;
    display: none !important;
}
.left>.leftContent
{
    transition: all 0.8s ease-in-out;
    display: none;
    color: white;
    justify-content: center;
    /* text-align: center; */
    /* border: solid 1px red; */
    align-items: center;
    height: 100%;
}
.rightContent
{
    transition: all 0.2s ease-in-out;
    color: #fa6900;
    /* position: fixed; */
    z-index: 1;
    text-align: center;
    font-size: 48px;
    /* border: solid 1px yellow; */
    width: 100%;
    transform: translate(-50%,0);
}
.orangeText
{
    font-size: 26px;
    color: #fa6900;
    line-height: 20%;
}
.contentLeftText
{
    padding-left: 1%;
    padding-right: 1%;
    width: 70%;
    text-align: justify;
}
.contentLeftButton
{
    width: 30%;
    /* border: solid 1px white; */
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.contentLeftButton a
{
    transition: all 0.2s;
    text-decoration: none;
    background:transparent;
    border: solid 1px #ffffff;
    border-radius: 2px;
    min-height: 40px;
    color: #ffffff;
    font-family: Saira;
    /* font-size: 24px; */
    font-weight: 300;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 14px;
}
.contentLeftButton a:hover
{
    transition: all 0.2s;
    color: #fa6900;
    border-color: #fa6900;
    /* border: solid 2px #fa6900; */
}
.whiteText
{
    font-size: 16px;
}