* {
  box-sizing: border-box;
}

@media only screen and (max-width: 1530px) {
  .expHeader:first-child {
    /* color: #fa6900; */
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1200px) {
  .chevDivMobile {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    /* background-color: white; */
    /* text-align: center; */
    color: white;
  }
  .chevDivMobile button {
    transform: all 0.2s;
    background-color: transparent;
    color: white;
    border: none;
  }
  .chevDivMobile button:hover {
    transition: all 0.2s;
    color: #fa6900;
  }
  .thinWhiteText {
    font-size: 18px;
    color: #ffffff;
    font-weight: 200;
    margin-top: 6%;
  }
}

.expHeader {
  text-align: left;
  padding: 0;
  margin: 0;
  /* border: solid 1px white; */
}
.expHeader:first-child {
  color: #fa6900;
  font-size: 18px;
}
.expHeader:nth-child(2) {
  display: inline;
  width: 60%;
}
.expHeader:nth-child(3) {
  float: right;
  display: inline;
  max-width: 70%;
}
.chevDivMobile {
  display: none;
}

.expContainer {
  width: 100%;
  /* border: solid 1px white; */
  padding-top: 1%;
}
