@media only screen and (max-width: 1200px) {
    .skills
    {
        overflow-y: scroll;
    }
    .thinWhiteText
    {
        display: block !important;
    }
}

.whiteText
{
    color: #ffffff;
    font-weight: 500;
    font-size: 36px;
    /* margin-bottom: -9%; */
    line-height: 115%;
    text-align: center;
}
.whiteTextEdu
{
    color: #ffffff;
    font-weight: 500;
    font-size: 36px;
    line-height: 115%;
    text-align: center;
    width: 80%;
    
}
.skills
{
    /* border: solid 1px red; */
    /* overflow-y: scroll; */
    display: flex;
    margin-top: -1%;
    height: 175vh;
    /* width: 88%; */
    padding-left: 5%;
    padding-right: 5%;
}
.eduDiv
{
    /* border: solid 1px white; */
    /* margin-top: 10%; */
    min-height: 70vh;
    /* max-width: 40%; */
    /* text-align: center; */
}
.skillsDiv
{
    margin-top: 3%;
    min-height: 50vh;
    max-width: 80%;
    /* border: solid 1px white; */
}
.leftDiv
{
    /* border: solid 1px green; */
    max-width: 45%;
}
.iconDiv
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: solid 1px white; */
    text-align: center !important;

}
.skillIcon
{
    font-size: 50px;
    flex: 0 0 33%;
    /* margin-left: auto; */
    /* border-radius: 10px; */
}
span img
{
    height: 45px;
    width: 45px;
}
.rightDiv
{
    /* display: inline-block; */
    /* border: solid 1px red; */
    color: white;
    width: 55%;
}
.thinWhiteText
{
    display: none;
    font-size: 18px;
    color: #ffffff;
    font-weight: 200;
    margin-top: 6%;
    width: 85%;
    text-align: center;
}