
.home
{
    height: 92vh;
    padding-bottom: 2%;
    /* border: solid 1px red; */
    padding-top: 1%;
    background-position: center;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;

}

.whiteText
{
    color: #ffffff;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: -9%;
    line-height: 115%;
}
.whiteTextLarge
{
    color: #ffffff;
    font-weight: 300;
    font-size: 105px;
    max-width: 45%;
    line-height: 130%;
}
.orangeText
{
    color: #fa6900;
    font-weight: 800;
    
}
.orangeTextLarge
{
    color: #fa6900;
    font-weight: 600;
    font-size: 42px;
    margin-bottom: -5%;
}
.actionButtons
{
    color: #fff;
    min-width: 35%;
    /* border: solid 1px red; */
    text-align: center;
}
.linkButtons
{
    display: flex;
    width: 100%;
    /* border: solid 1px white; */
    justify-content:space-evenly;
    margin-bottom: 4%;
    align-items: center;
}

.buttonStyle
{
    transition: all 0.2s;
    text-decoration: none;
    background:transparent;
    border: solid 1px #ffffff;
    border-radius: 8px;
    min-height: 60px;
    min-width: 180px;
    max-width: 60% !important;
    color: #ffffff;
    font-family: Saira;
    font-size: 26px;
    font-weight: 300;
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.buttonStyle:hover
{
    transition: all 0.2s;
    color: #fa6900;
    border-color: #fa6900;
    /* border: solid 2px #fa6900; */
}
.icon
{
    transition: all 0.2s;
    color: #ffffff;
}
.icon:hover
{
    transition: all 0.2s;
    color: #fa6900;
}
.chevDiv
{
    text-align: center;
    /* border: solid 1px green; */
    width: 60%;
    margin-top: -8%;
}
a span
{
    cursor: pointer;
}