@import url('https://fonts.googleapis.com/css2?family=Saira:wght@200;300;500;600;800&display=swap');
*:focus
{
    outline:none;
}
body
{
    background-color: #000000;
    font-family: 'Saira', sans-serif;
}
.whiteText
{
    color: #ffffff;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: -9%;
    line-height: 115%;
}

.orangeText
{
    color: #fa6900;
    font-weight: 800;
    
}
.main
{
    background-image: url("../assets/spiral.svg");
    background-position-x: 50%;
    /* background-position-y: 5%; */
    background-size: contain;
    background-repeat: no-repeat;
    width: 87%;
    overflow-x: hidden;
    margin: auto;
}
.about
{
    height: 95vh;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
.exp
{
    height: 210vh;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
.work
{
    height: 190vh;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
.about
{
    border: solid 1px red;
    max-width: 88%;
    margin: auto;
}