@import url('https://fonts.googleapis.com/css2?family=Saira:wght@200;300;500;600;800&display=swap');
@media only screen and (max-width: 950px)
{
    .main
    {
        background-repeat: repeat-y, no-repeat !important;
    }
}

*:focus
{
    outline:none;
}
body
{
    background-color: #000000;
    font-family: 'Saira', sans-serif;
}
.whiteText
{
    color: #ffffff;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: -9%;
    line-height: 115%;
}

.orangeText
{
    color: #fa6900;
    font-weight: 800;
    
}
.main
{
    background-image: url("../assets/spiral.svg"), url("../assets/self.png");
    background-position-x: 50%, 100%;
    background-position-y: 0%, 19.7%;
    background-size: contain, 85vh;
    background-repeat: no-repeat, no-repeat;
    background-position: none, right;
    background-attachment: none, fixed;
    /* width: 87%; */
    overflow-x: hidden;
    margin: auto;
}
.about
{
    margin-top: 5% !important;
    /* height: 95vh; */
    /* width: 100%; */
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    max-width: 88%;
    margin: auto;
}
.exp
{
    height: 210vh;
    /* padding-left: 5%;
    padding-right: 5%; */
    padding-top: 2%;
    max-width: 88%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}
.work
{
    height: 190vh;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
.chevDiv
{
    text-align: center;
    margin-top: -10%;
}
.chevDiv button
{
    margin-top: -2%;
    border: none;
    background: transparent;
}
.chevDiv2
{
    text-align: center;
    /* margin-top: -10%; */
}
.chevDiv2 button
{
    margin-top: -2%;
    border: none;
    background: transparent;
}
.icon
{
    transition: all 0.2s;
    color: #ffffff;
}
.icon:hover
{
    transition: all 0.2s;
    color: #fa6900;
}
.thinWhiteText
{
    font-size: 18px;
    color: #ffffff;
    font-weight: 200;
    margin-top: 6%;
}