@media only screen and (max-width: 1210px) {
  .icon {
    font-size: 50px;
  }
}

/* For iphone 5 */
@media only screen and (max-width: 360px) {
  .thinWhiteText {
    font-size: 14px !important;
  }
  .icon {
    font-size: 45px !important;
  }
}

.whiteText {
  color: #ffffff;
  font-weight: 500;
  font-size: 36px;
  /* margin-bottom: -9%; */
  line-height: 115%;
  text-align: center;
}

.projectsOuter {
  /* border: solid 1px white; */
  display: flex;
  justify-content: space-between;
  /* flex: none; */
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  flex-wrap: wrap;
}

.chevDiv {
  text-align: center;
  margin-top: -3%;
}
.chevDiv button {
  margin-top: -2%;
  border: none;
  background: transparent;
  /* font-size: 70px; */
}
.thinWhiteText {
  font-size: 18px;
  color: #ffffff;
  font-weight: 200;
  margin-top: 6%;
}
.icon {
  transition: all 0.2s;
  color: #ffffff;
  font-size: 70px;
}
.icon:hover {
  transition: all 0.2s;
  color: #fa6900;
}